.App {
 text-align: left;
}
.empcard {
  box-shadow: 0 4px 8px 0 rebeccapurple;
  transform: 0.3s;
  width: 300px;
  border-radius: 5px;
  margin: 50px 10px 0pc 29px;
  float: left;
}

.empcard:hover {
box-shadow: 0 8px 16px 0 rosybrown;
}

.container {
  padding: 6px 16px;
 
 
}

img {
  border-radius: 5px;
}


nav {
  width: 200px;
  background-color: #1d2531;
  height: 500px;
  float: left;
  margin:0px;
  height: 1000px;
  position: relative;
  font-family: quicksand,sans-serif;
  opacity: 0.2px;
 }

 nav ul{
  list-style-type: none;
 }

 nav ul li {
  width: 120px;
 }
 nav ul li a{
  text-decoration: none;
  display: block;
  padding: 10px;
  color: white;
 }

 nav ul li a:hover {
  color: goldenrod;

  
 }


 body {
  margin: 0;
  box-sizing: border-box;
  
 }


